<div id="<%= dom_id locality %>">
  <p>
    <strong>Assigned code:</strong>
    <%= locality.assigned_code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= locality.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= locality.description %>
  </p>

  <p>
    <strong>Del status:</strong>
    <%= locality.del_status %>
  </p>

  <p>
    <strong>Active status:</strong>
    <%= locality.active_status %>
  </p>

  <p>
    <strong>Suburb code:</strong>
    <%= locality.suburb_code %>
  </p>

</div>
