<% content_for(:breadcrumb) do %>
  <li class="breadcrumb-item"><%=link_to "Dashboard", home_index_path %></li>
  <li class="breadcrumb-item"><%=link_to "Localities", localities_path %></li>
  <li class="breadcrumb-item active"><a href="javascript:void(0)"><%= @locality.name %></a></li>
<% end %>

<% content_for(:content) do %>

  <div>
    <%= link_to "< Back", localities_path, class: "btn btn-primary mb-2" %>
  </div>

  <div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Edit locality</h4>
        <div class="basic-form">
        <%= render "form", locality: @locality %>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>