<div id="<%= dom_id city_town %>">
  <p>
    <strong>Assigned code:</strong>
    <%= city_town.assigned_code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= city_town.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= city_town.description %>
  </p>

  <p>
    <strong>Del status:</strong>
    <%= city_town.del_status %>
  </p>

  <p>
    <strong>Active status:</strong>
    <%= city_town.active_status %>
  </p>

  <p>
    <strong>Region code:</strong>
    <%= city_town.region.name %>
  </p>

</div>
