
<%= simple_form_for(@city_town) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs row">
    <%= f.association :region, collection: Region.active_and_not_deleted.order(:name), prompt: "Choose a Region", wrapper_html: {  class:"col-12 col-md-12 col-lg-6 col-xl-6"  }%>
    <%= f.input :name, wrapper_html: {  class:"col-12 col-md-12 col-lg-6 col-xl-6"  } %>
    <%= f.input :description, wrapper_html: {  class:"col-12 col-md-12 col-lg-6 col-xl-6"  } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-feature text-white" %>
  </div>
<% end %>
