<div id="<%= dom_id contact %>">
  <p>
    <strong>Last name:</strong>
    <%= contact.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= contact.first_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= contact.phone %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= contact.description %>
  </p>

  <p>
    <strong>Locality:</strong>
    <%= contact.locality.name %>
  </p>

</div>
