<div id="<%= dom_id contact %>">
  <p>
    <strong>Last name:</strong>
    <%= contact.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= contact.first_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= contact.phone %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= contact.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= contact.description %>
  </p>

  <p>
    <strong>Del status:</strong>
    <%= contact.del_status %>
  </p>

  <p>
    <strong>Active status:</strong>
    <%= contact.active_status %>
  </p>

  <p>
    <strong>Locality code:</strong>
    <%= contact.locality_code %>
  </p>

  <p>
    <strong>Assigned code:</strong>
    <%= contact.assigned_code %>
  </p>

</div>
