
<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs row">
    <%= f.input :first_name, wrapper_html: {  class:"col-12 col-md-12 col-lg-6 col-xl-6"  } %>
    <%= f.input :last_name, wrapper_html: {  class:"col-12 col-md-12 col-lg-6 col-xl-6"  } %>
    <%= f.input :phone, wrapper_html: {  class:"col-12 col-md-12 col-lg-6 col-xl-6"  } %>
    <%= f.input :region, prompt: "Select the region", collection: Region.active_and_not_deleted.order(:name), label_method: :name, value_method: :assigned_code, input_html: {id: "region"}, wrapper_html: {  class:"col-12 col-md-12 col-lg-6 col-xl-6"  } %>
    
    
    <% if @contact.locality_code %>
        <%= f.input :cities, collection: [], label_method: :name, value_method: :assigned_code, input_html: {id: "cities"}, wrapper_html: {  class:"col-12 col-md-12 col-lg-6 col-xl-6"  } %>
        <%= f.input :suburbs, collection: @contact.locality.suburb.city_town.suburbs, label_method: :name, value_method: :assigned_code, input_html: {id: "suburbs"}, wrapper_html: {  class:"col-12 col-md-12 col-lg-6 col-xl-6"  } %>
        <%= f.association :locality, collection: @contact.locality.suburb.localities, label_method: :name, value_method: :assigned_code, input_html: {id: "localities"}, wrapper_html: {  class:"col-12 col-md-12 col-lg-6 col-xl-6"  } %>
    <% else %>
        <%= f.input :cities, collection: [], label_method: :name, value_method: :assigned_code, input_html: {id: "cities"}, wrapper_html: {  class:"col-12 col-md-12 col-lg-6 col-xl-6"  } %>
        <%= f.input :suburbs, collection: [], label_method: :name, value_method: :assigned_code, input_html: {id: "suburbs"}, wrapper_html: {  class:"col-12 col-md-12 col-lg-6 col-xl-6"  } %>
        <%= f.association :locality, collection: [], label_method: :name, value_method: :assigned_code, input_html: {id: "localities"}, wrapper_html: {  class:"col-12 col-md-12 col-lg-6 col-xl-6"  } %>
    <% end %>
    
    
    <%= f.input :description, wrapper_html: {  class:"col-12 col-md-12 col-lg-6 col-xl-6"  } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-feature text-white" %>
  </div>
<% end %>


<% content_for(:scripts) do %>

<script type="text/javascript" charset="utf-8">

    $(document).ready(function(){

        $('#region').change(function() {
            var region = document.getElementById("region");
            $('#cities').html("");
            $('#suburbs').html("");
            $('#localities').html("");
            if(region.value != ""){
                $.ajax({
                    url: '<%= get_cities_path %>',
                    data: {
                        region_code : region.value
                    },
                    dataType: "script"
                });
            }
        });

        $('#cities').change(function() {
            var city = document.getElementById("cities");
            $('#suburbs').html("");
            $('#localities').html("");
            if(city.value != ""){
                $.ajax({
                    url: '<%= get_suburbs_path %>',
                    data: {
                        city_town_code : city.value
                    },
                    dataType: "script"
                });
            }
        });

        $('#suburbs').change(function() {
            var suburb = document.getElementById("suburbs");
            $('#localities').html("");
            if(suburb.value != ""){
                $.ajax({
                    url: '<%= get_localities_path %>',
                    data: {
                        suburb_code : suburb.value
                    },
                    dataType: "script"
                });
            }
        });

    });

</script>

<% end %>