<div id="<%= dom_id region %>">
  <p>
    <strong>Assigned code:</strong>
    <%= region.assigned_code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= region.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= region.description %>
  </p>

  <p>
    <strong>Del status:</strong>
    <%= region.del_status %>
  </p>

  <p>
    <strong>Active status:</strong>
    <%= region.active_status %>
  </p>

</div>
