<% content_for(:breadcrumb) do %>
  <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
  <li class="breadcrumb-item active"><a href="javascript:void(0)">Region</a></li>
<% end %>

<% content_for(:content) do %>

<div class="row">
  <div class="col-lg-12">
    <div class="card min-vh-100">
      <div class="card-body">
        <h1 class="card-title">Regions</h1>
          <%= link_to "New region", new_region_path, class: 'btn btn-success text-white' %>
          <table class="table">

            <thead>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
              <th>Action</th>
            <thead>

            <tbody>
                <% @regions.each_with_index do |region, index| %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td><%= region.name %></td>
                    <td><%= region.description %></td>
                    <td>
                      <%= link_to "View", region, class: 'btn btn-success text-white' %>
                      <%= link_to "Edit", edit_region_path(region), class: 'btn btn-primary' %>
                      <%= link_to "Delete", region, class: 'btn btn-danger', method: :delete %>
                    </td>
                  </tr>
                <% end %>
            </tbody>  
          </table>
      </div>
    </div>
  </div>
</div>

<% end %>
